.homepage {
  h2 {
    margin-top: 24px;
    text-align: center;
  }

  .row {
    padding: 24px 0 24px 0;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .postbutton {
    height: 100px;
  }

  .randomButton {
    height: 100px;
  }

  
}