@import "../_global";

.story-preview {
    margin-bottom: 1rem;
    
    .card-img {
        width: 100%;
        object-fit: cover;
    }
    
    .avatar {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        float: left;
    }
    
    .card-body {
        display: flex;
        flex-direction: column;
        background-color: $story-preview-background-color;
    }
    
    .card-author-info { 
        margin-top: auto;
    }
    
    polygon:hover {
        fill: $story-preview-bookmark-tag-fill-color;
        opacity: 1;
    }
    
    polygon {
        fill: $story-preview-bookmark-tag-fill-color;
        opacity: 0.75;

    }
    .clickable-card {
        text-decoration: none;
        color: black;
    }
    .clickable-card:hover {
        text-decoration: none;
        color: black;
        box-shadow: $box-shadow-on-hover;
    }

    
}
