@import "../_global";

.story-preview {
    margin-bottom: 1rem;
    text-align: center;

    .card-img {
        width: 100%;
        object-fit: cover;
    }
   
    .avatar {
        z-index: 1;
    }

    .bookmark {
        z-index: 1;
    }
    
    .card-body {
        display: flex;
        flex-direction: column;
        background-color: $story-preview-background-color;
    }
    
    .card-author-info { 
        margin-top: auto;
    }

    .clickable-card {
        text-decoration: none;
        color: black;
        position:absolute;
        left:0; top:0; bottom:0; right:0;
        z-index: 1;
    }
    .clickable-card:hover {
        text-decoration: none;
        color: black;
        box-shadow: $box-shadow-on-hover;
    }

    

    
}
