@import "../_global";

// #user {
//     margin-top: 10px;
// }

// #follow {
//     margin-top: 25px;
//     margin-left: 5px;
// }

#tabs {
    margin-top: 20px;
}

// #avatar {
//     img {
//         width: 100px;
//         height: 100px;
//         object-fit: cover;
//         border-radius: 50%;
//         float: left;
//     }
//     a {
//         color: rgba(0, 0, 0, 0.884);
//       }
// }

// .username {
//     margin-left: 7px;
//     margin-top: 15px;
// }

// .info {
//     margin-top: 25px;
// }

#editbutton {
    padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}