@import "../_global";

.ticket-preview {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  transition: 0.3s;
  padding: 1rem;
  overflow: auto;
  background-color: white;

  .ticket-preview:hover{
    box-shadow: $box-shadow-on-hover;
  }

  img {      
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .clickable-card {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 0; 
    top: 0; 
    bottom: 0; 
    right: 0;
    z-index: 1;
  }
}

.ticket-preview:hover {
  box-shadow: $box-shadow-on-hover;
  cursor: pointer;
}
