.searchTitle {
  margin: auto;
  max-width: 80%;
  padding: 2rem 1rem 1rem 1rem; }

.filterItem {
  font-size: 0.8rem; }

.left {
  text-align: left;
  vertical-align: baseline;
  float: left;
  clear: none;
  width: 85%; }

.right {
  text-align: right;
  vertical-align: text-bottom;
  float: right;
  clear: none;
  width: 15%;
  height: 80%; }

.search {
  width: 100%;
  max-width: 50rem;
  margin: auto;
  padding: 10px 20px 10px 20px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: #cfe8f0;
  display: flex;
  overflow: auto; }

.search:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.container {
  padding: 5px 16px; }

.textbox {
  text-align: left;
  margin: auto;
  width: 80%;
  float: left;
  margin-right: 5px; }

.userbox {
  margin: auto;
  float: right;
  width: 20%; }

.title {
  text-align: left;
  font-size: 5em; }

.description {
  text-align: left;
  font-size: 1em; }

.search-preview {
  margin-bottom: 1rem; }

.search-img {
  width: 100%;
  object-fit: cover; }

.search-body {
  display: flex;
  flex-direction: column;
  background-color: #F7EEE7; }

.search-author-info {
  margin-top: auto; }
