// GLOBAL VARIABLES
$homepage-bg: #fdfdfb;
//#fcf8e3;
//#e2d09a;
//#e1e8ec;
//#b7def4;
//#a8d0e6;
$float-window: #cfdde0;
//#cddec4;
//#2835346b;
//#d6ebf7;
//#a0c0d2;
$story-preview-background-color: white;
//#e2ebbf;
//#f6f7e7;
//#e3f4fd;
// #fffae8;
// #e8f4f8;
$story-preview-bookmark-tag-fill-color: rgb(242, 211, 56);
$box-shadow-on-hover: 0 8px 16px 0 rgba(0,0,0,0.2); 

%avatar {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    float: left
}