// GLOBAL VARIABLES
$bg-color: rgb(249, 249, 249);
//$float-window: rgb(249, 249, 249);
//$story-preview-background-color: white;
$story-preview-bookmark-tag-fill-color: rgb(15, 125, 228); 
//rgb(242, 211, 56);
$box-shadow-on-hover: 0 8px 16px 0 rgba(0,0,0,0.2);