@import '../_global';

.bookmark {
  width: 25px;
  height: 25px;
  
  g:hover {
    fill: $story-preview-bookmark-tag-fill-color;
    opacity: 0.5;
    cursor: pointer;
  }

  g {
    stroke: gray;
    fill: white;
  }

  g.bookmarked {
    fill: $story-preview-bookmark-tag-fill-color;
    stroke-opacity:0;
  }

  g.disabled {
    fill: darkgray;
  }
}
