@import '../_global';

.bookmark {
    position: relative;
    float: right;
    width: 25px;
    height: 25px;
    

    // polygon:hover {
    //     fill: $story-preview-bookmark-tag-fill-color;
    //     opacity: 1;
    //     cursor: pointer;
    // }

    // polygon {
    //     fill: $story-preview-bookmark-tag-fill-color;
    //     opacity: 0.75;

    // }

    g:hover {
        fill: $story-preview-bookmark-tag-fill-color;
        opacity: 0.5;
        cursor: pointer;
    }

    g {
        stroke: gray;
        fill: white;
    }

    g.disabled {
        fill: darkgray;
    }

    g.bookmarked {
        fill: $story-preview-bookmark-tag-fill-color;
        stroke-opacity:0;
    }
}