@import "../_global";

.bookmark {
    position: relative;

    polygon:hover {
        fill: $story-preview-bookmark-tag-fill-color;
        opacity: 1;
        cursor: pointer;
    }

    polygon {
        fill: $story-preview-bookmark-tag-fill-color;
        opacity: 0.75;

    }

    g:hover {
        fill: $story-preview-bookmark-tag-fill-color;
        opacity: 1;
        cursor: pointer;
    }

    g {
        fill: $story-preview-bookmark-tag-fill-color;
        opacity: 0.75;

    }
}