#nav {

    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 10px; 
    
    .avatar {
        border-radius: 50%;
        float: left;
    }
    
    .image {
        height: 80px;
    }
    
    .clickable:hover {
        cursor: pointer;
    }
    
        
    
    .center {
        display: flex;
        justify-content: space-between;
    
    }
    
    .searchOrRandom {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
    
    }
    
    .searchOrRandomItem {
        height: 40px;
    }
    
    #lever {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 90px;
        color: white;
    }
    
    #search {
        position: absolute;
        text-align: left;
        bottom: 0;
    }

}
