#nav {

    display: flex;
    justify-content: space-between;
    background-color:white;
    padding: 40px; 
    text-align: center;
    border-bottom: 2px solid lightgray;

    .image {
        height: 80px;
    }
    .clickable:hover {
        cursor: pointer;
    }
    .center {
        display: flex;
        justify-content: space-between;
    }
    .searchOrRandom {
        width: 85%;
        height: 80px;
        display: flex;
        align-items: center;
    }
    .searchInput {
        border: 2px solid steelblue;
    }
    .searchButton {
        width: 100px;
        background-color: steelblue;
        border: 2px solid steelblue;
    }
    .searchButton:hover {
        background-color:#2A6A90;
        border: 2px solid #2A6A90;
    } 
    
    #lever {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 90px;
        color: white;
    }
    
    #search {
        position: absolute;
        text-align: left;
        bottom: 0;
    }

}
