@import '../_global';

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $header-bg-color;
  padding: 7px 15px 7px 15px;
  border-bottom: 2px solid lightgray;

  .logo {
    color: #ddd;
  }
  .logo:hover {
    text-decoration: none;
  }

  img {
    height: 80px;
  }

  .center {
    display: flex;
    justify-content: center;

    .lever {
      margin-left: 10px;
      display: flex;
      cursor: pointer;
      border: inset;
      border-radius: 5px;
      background: $header-bg-color;

      img.true {
        transform: rotate(180deg);
      }

      .label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
       

        div {
          color: $bg-color;
          padding-left: 3px;
          padding-right: 3px;
          -webkit-user-select: none; /* Safari */        
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
        }
      }
    }

    .searchOrRandom {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;

      .input {
        border: 2px solid $yellow-button-color;
      }

      .searchButton {

        background-color: $yellow-button-color;
        border: 1px solid $yellow-button-color;
      }

      .searchButton:hover {
        background-color: $yellow-button-hover-color;
        border: 1px solid $yellow-button-hover-color;
      } 
    }
  }
}
