@import "../_global";
.user {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    width: 100px;
    margin: 2px;
  }

  img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }

  #avatar {
    @extend %avatar
  }
}
.userModal {
  display: block;
  width: 300px;
}
