.ticket-page {
  padding-top: 30px;
  padding-bottom: 40px;

  .ql-editor {
    min-height: 250px;
  }

  .card-text img {
    width: 100%;
  }

  .postSolutionButton {
    background-color: steelblue;
    border: 2px solid steelblue;
    float: right;
  }
}
